@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body {
    min-height: 100vh;
    
}
header {
    background-color: rgb(123, 123, 123);
    background-image: url("imagens/paisagem.jpg");
    background-size: cover;
    background-blend-mode: difference;
    background-blend-mode: multiply;
    color: white;
    font-variant: small-caps;
    font-size: 6vw;
    text-align: center;
    padding: 10px;
    height: 200px;
}
header > h1 {
    padding-top: 50px;
}
header>p {
    padding-bottom: 50px;
}

p a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
p a:hover {
    color: greenyellow;
    text-decoration: underline;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px;
    font-size: 1.1em;
}
section {
    font-size: 3.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.normal {
    background-color: white;
    color-scheme: black;
}
section.imagem {
    background-color: rgb(25, 25, 25);
    color: white;
    box-shadow: inset 0px 20px 10px rgba(0, 0, 0, 0.326);
}
section.imagem > p {
    background-color: rgba(42, 42, 42, 0.479);
    display: inline-block;
    padding: 6px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.404);
}
section > p {
    padding-bottom: 2em;
}
section#img01 {
    background-image: url("imagens/Leonardo_Kino_XL_uma_mo_segurando_um_celular_na_diretia_da_ima_1.jpg");
    background-position: left center;
    background-size: cover;
    background-attachment: fixed;
}
section#img02 {
    background-image: url("imagens/background002.jpg");
    background-size: cover;
    background-attachment: fixed;
}
footer {
    background-color: rgb(25, 25, 25);
    text-align: center;
    color: white;
    margin-top: 10px;
    padding: 15px;
}